<html>
    <head>
        <title>
            Eternal Draft Tier Search
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='fuse.js') }}"></script>
    </head>

    <body>
        <h1>
            Eternal Draft Tier Search
        </h1>
        <form id="searchForm" autocomplete="off" method="POST" action="{{ url_for('draft_tierlist') }}">
            {{ form.csrf_token }}
            <div class="autocomplete" style="width:300px;">
                {{ form.card }}
            </div>
        </form>

        <table id="card_table">
            <tr>
                <th>Card</th>
                <th>Average</th>
                <th>Drifter</th>
                <th>Flash</th>
                <th>Isomorphic</th>
                <th>Mgallop</th>
            </tr>
        </table>

        <script type="text/javascript">

            var list = JSON.parse('{{ tier_info | tojson }}');
            var options = {
            shouldSort: true,
            threshold: 0.6,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                "Card",
            ]
            };
            var fuse = new Fuse(list, options); // "list" is the item array

            function populateCardInfo(card) {

            }

            function autocomplete(inp) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*initiate the autocomplete function */


                /*execute a function when someone writes in the text field:*/
                inp.addEventListener("input", function(e) {
                    var a, b, i, val = this.value;

                    var result = fuse.search(val);
                    var cards = [];
                    
                    var i;
                    for (i=0; i<result.length; i++) {
                        cards.push(result[i].Card)
                    }

                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < cards.length; i++) {
                        /*check if the item starts with the same letters as the text field value:*/
                        if (cards[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + cards[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += cards[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + cards[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                        }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function(e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    var y = document.getElementsByClassName("autocomplete-items");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocus variable:*/
                        currentFocus++;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 38) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocus variable:*/
                        currentFocus--;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 13) {
                            /*If the ENTER key is pressed, prevent the form from being submitted,*/
                            if (y.length > 0) {
                                e.preventDefault();
                                if (currentFocus > -1) {
                                /*and simulate a click on the "active" item:*/
                                if (x) x[currentFocus].click();
                            }
                        }
                    }
                });
                function addActive(x) {
                    /*a function to classify an item as "active":*/
                    if (!x) return false;
                    /*start by removing the "active" class on all items:*/
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);
                    /*add class "autocomplete-active":*/
                    x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                    }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }

            autocomplete(document.getElementById("searchTextbox"));

            if ("{{ card  }}" !== "") {
                // Lookup card
                var result = fuse.search("{{ card }}");
                var table = document.getElementById("card_table")

                var row = document.createElement("tr");
                var cell1 = document.createElement("td");
                var cell2 = document.createElement("td");
                var cell3 = document.createElement("td");
                var cell4 = document.createElement("td");
                var cell5 = document.createElement("td");
                var cell6 = document.createElement("td");

                var cell1text = document.createTextNode(result[0].Card)
                var cell2text = document.createTextNode(result[0].Average)

                cell1.appendChild(cell1text);
                cell2.appendChild(cell2text);
                row.appendChild(cell1);
                row.appendChild(cell2);
                row.appendChild(cell3);
                row.appendChild(cell4);
                row.appendChild(cell5);
                row.appendChild(cell6);
                table.appendChild(row);
            }
        </script>
    </body>
</html>